div(class='main-footer__container')
	div(class='main-footer__container-logo-container'): a(href="#"): img(src="images/logo_footer.svg", alt="") 
	div(class='main-footer__container-grid')
		div(class='main-footer__container-grid-item')
			p(class='main-footer__disclaimer') Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eveniet corporis dolorem illum accusamus repudiandae quo, inventore voluptatum. Id hic temporibus dolor asperiores quo repudiandae, dicta explicabo et ut vel.
			ul(class='main-footer__social-menu')
				-for(let i=1; i<=4; i++)
					li: a(href="#"): img(src="images/fb_footer_ico.svg", alt="" width="18" height="18") 
		div(class='main-footer__container-grid-item')
			ul(class='main-footer__nav-pages')
				-for(let i=1; i<=7; i++)
					li(class='main-footer__nav-pages-li')
						a(href="#", class='main-footer__nav-pages-anchor') Lorem, ipsum.
		div(class='main-footer__container-grid-item') lorem
	div(class='main-footer__container-copy')
		div(class='main-footer__container-copy-content')
			span(class='main-footer__content-label') MASTER TECH VENTURES D.O.O &nbsp;&nbsp;&nbsp;&nbsp;
				span Beograd, 11070, Serbia
			a(href="#", class='main-footer__content-phone')
				img(src="images/phone_ico.svg", alt="") 
				| &nbsp;&nbsp;&nbsp;1-866-978-6867
