.top-nav{
	width         	: 100%;
	margin			: 0 auto;
	display 		: flex;
	flex-direction	: column;
	z-index			: 1;
	position		: fixed;
	z-index			: 2000;
	top: 0;
	&__social-container{
		display: flex;
		background:  linear-gradient(90deg, #FF3C3F 0%, #FFD84C 93.26%);
		backdrop-filter: blur(5px);
		height: 42px;
		align-items: center;
		justify-content: center;
		z-index: 3000;
	}
	&__social-content{
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1440px;
		// border: 2px solid red;
		padding: 0 15px;
		@include from(l){
			justify-content: flex-end;
		}
	}
	&__social-menu{
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
		display: flex;
		justify-content: space-between;
		height: 18px;
		width: 100px;
	}	
	&__social-menu > li > a{
		line-height: 0;
	}
	&__phone{
		color:#1A1A1A;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.24px;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__email{
		display: none;
		color:#1A1A1A;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: -0.24px;
		text-transform: uppercase;
		text-decoration: none;
		margin:0 15px;
		@include from(l){
			display: block;
		}

	}
	&__nav-bar-mobile{
		position: relative;
		height: 79px;
		// border: 1px solid white;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		position: relative;
		@include from(l){
			display: none;
		}
		background: rgba(0, 0, 0, 0.65);
		backdrop-filter: blur(5px);
		z-index: 50000;
	}
	&__menu-container{
		@include fromTo(s,l){			
			position: fixed;
			width: 100%;
			max-width: 480px;
			right: -480px;
			align-items: flex-start;
			display: flex;
			transition 		: right .3s;
			height: calc(100vh - 120px);
			top: 120px;
			padding: 39px 15px 0 15px;	
			&.active{
				right: 0;
			}
			&::after{
				content: "";
				position: absolute;
				width: 100%;
				height: 16px;
				bottom: 0;
				background:  linear-gradient(90deg, #FF3C3F 0%, #FFD84C 93.26%);
				backdrop-filter: blur(5px);
				z-index: 1000;
			}			
		}
		display: none;
		height: 79px;
		// border: 1px solid white;
		align-items: center;
		justify-content: center;		
		position: relative;
		// &:before{
		// 	content             : "";
		// 	background          : #000000;
		// 	position            : absolute;
		// 	width               : 100%;
		// 	height              : 100%;
		// 	top                 : 0;
		// 	right               : 0;
		// 	bottom              : 0;
		// 	left                : 0;
		// 	z-index             : 1;
		// 	opacity             : 1;
			
		// }
		background: rgba(0, 0, 0, 0.65);
		backdrop-filter: blur(5px);
		@include from(l){
			display: flex;
			padding: 0 15px 0 15px;
		}
	}
	&__link {
		@include fromTo(s,l){
			width: 100%;
			border: 1px solid white;
			display: none;
		}
	}
	&__link > img{
		width: 106px;
		height: 27px;
		@include from(l){
			width: 192px;
			height: 35px;
		}
	}
	&__mobile-link > img{
		width: 106px;
		height: 27px;
		@include from(sm){
			width: 192px;
			height: 35px;
		}
	}
	&__mobile-menu-content{
		width: 100%;
		max-width: 1440px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 1000;
	}
	&__menu-content{
		@include fromTo(s,l){
			flex-direction: column;
		}
		width: 100%;
		max-width: 1440px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
	}
	&__menu{
		@include fromTo(s,l){
			height: auto;
			flex-direction: column;
			width: 100%;
			padding: 0 !important;
		}
		margin: 0 !important;
		list-style: none !important;
		display: flex;
		justify-content: space-between;
		padding: 0 15px !important;
		height: 20px;
	}
	&__menu > li > a{
		color: #FFF;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.24px;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__menu > li {
		padding-right: 30px;
	}
	&__menu > li:last-child {
		padding-right: 0;
	}
	&__btn-continer{
		width: 100%;
		@include fromTo(s,sm){			
			flex-direction: column-reverse;
		}
		display: flex;
		justify-content: space-between;
		@include from(l){
			width: 220px;
		}
	}
	&__btn-login{
		@include fromTo(s,sm){
			width: 100%;
			margin-bottom: 15px;
		}
		@include fromTo(sm,l){
			margin-right: 15px;
			margin-bottom: 15px;
			text-decoration: none !important;
		}
		@include fromTo(s,l){
			width: 100%;
			margin-bottom: 15px;
			border: none;
			text-decoration: underline;
			
		}
		@include from(sm){
			border: 1px solid white;
		}
		width: 102px;
		height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFF;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		text-decoration: none;
		
	}
	&__btn-join{
		@include fromTo(s,l){
			width: 100%;
			margin-bottom: 15px;
		}
		width: 102px;
		height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #05FF00;
		color: #1A1A1A;
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__mobile-hamburguer{
		cursor: pointer; 
		z-index: 100000;
		@include from(l){
			display: none;
		}
	}
	&__or-text{
		@include from(sm){
			display: none;
		}
	}
	&__hamburguer-open{
		&.active{
			display: none;
		}
	}
	&__hamburguer-close{
		display: none;
		&.active{
			display: block;
		}
	}

}
