/*here start accordion component styles*/
.accordion{
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	padding: 30px 0; 
}
.accordion-container{
	&__wrapp{
		border-top					: 1px solid #dddddd;
		border-bottom					:none;
	}
	&__wrapp:last-child{
		border-bottom					:1px solid #dddddd;;
	}
	&__btn-acc {
		position				: relative;
		background-color		: white;
		border					: none;
		cursor					: pointer;
		padding					: 0 60px 0 18px;
		height					: 56px;
		width					: 100%;
		text-align				: left;
		outline					: none;
		border-bottom			: 1px solid #fff;
		color: var(--Text, #4A4A4A);

		/* Desktop/Body/Bold/Body LG */
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		background: var(--TextGradientDarkMode2, linear-gradient(90deg, #FF5F2D 0%, #D40000 100%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include from(m){
			font-size: 18px;
		}
		&.active {
            // background-color	: #f3f3f3;
        }
	}  
	&__panel {
		padding					: 0 15px;
		background-color		: white;
		font					: normal normal bold 20px/15px Inter;
		letter-spacing			: 0px;
		color					: #02263C;
		display					: none;
		&.active{
			display				: block;
		}
		
	}  
	&__btn-acc:after {
		position				: absolute;
		top						: 15px;
		right					: 20px;
		content					: "";
		width					: 25px;
		height					: 25px;
		background-image		: url('https://kikeestradadev.github.io/masteraffiliates_ui/images/arrow-top.svg');
		background-size			: cover;
		background-repeat		: no-repeat;
	}  
	.active:after {
		position				: absolute;
		top						: 15px;
		right					: 20px;
		content					: "";
		width					: 25px;
		height					: 25px;
		background-image		: url('https://kikeestradadev.github.io/masteraffiliates_ui/images/arrow-down.svg');
		background-size			: cover;
		background-repeat		: no-repeat;
		
	}
	&__text{
		color: var(--Text, #4A4A4A);
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
	}
}
/*here finish accordion component styles*/
