* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.banner {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 50vh;
	&__item {
		display: flex;
		flex: 1 1 30px;
		transition: all  .3s;
	}
	&__item:first-child{
		background: hsl(80,80%,50%);
	}
	&__item:nth-child(2){
		background: hsl(180,80%,50%);
	}
	&__item:nth-child(3){
		background: hsl(270,80%,70%);
	}
	&__item:nth-child(4){
		background: hsl(320,80%,80%);
	}
	&__item:nth-child(5){
		background: hsl(0, 80%, 80%);
	}
	&__card-container{
		display: flex;
		position: relative;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
	}





	&__card-container-info{
		width: 100%;
		display: flex;
		position: absolute;
	}
	&__card-container-info span {
		font-size: 16px;
		margin: auto;
		width: 90%;
		text-align: center;
		transform: rotate(-90deg);
		transition: transform .3s;
	}
	&__card-container-image{
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		opacity: 0;
		transition: opacity .3s;
	}
	&__card-container-image img{
		max-width: 150px;
		width: 0px;
		filter: drop-shadow(1rem 5rem 20px rgba(0,0,0,0.5));
		transition: width .3s;
	}
	&__item:hover, &__item:focus {
		flex: 10 0 auto;
	}

	&__card-container:hover &__card-container-info, &__card-container:focus &__card-container-info{
		margin-top: -160px;
		transition: margin-top .3s;
	}

	&__card-container:hover &__card-container-image, &__card-container:focus &__card-container-image{
		opacity: 1;
	}
	&__card-container:hover &__card-container-image img, &__card-container:focus &__card-container-image img{
		width: 100%;
	}
	&__card-container:hover &__card-container-info span, &__card-container:focus &__card-container-info span{
		transform: none;
		text-shadow: 9px 8px 4px rgba(0, 0, 0, 0.54);
	}

	@media screen and (min-width:700px) {
		&__card-container-image img{
			max-width: 300px;
		}
		&__card-container-info span{
			font-size: 24px;
		}
		&__card-container:hover &__card-container-info, &__card-container:focus &__card-container-info{
			margin-top: -311px;
			transition: margin-top .3s;
		}
	
	}
}

