/*here start small-size slider module styles*/
.benefits-slider-module{	
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 15px;
	padding-right: 15px;
	@include from(lg){
		padding-left: 0;
		padding-right: 0;
	}
}
.benefits-slider{
	width: 100%;
	max-width: 1440px;
}

.benefits-slider .swiper-wrapper{
	align-items: baseline;
	margin: 60px 0;
	
}

.benefits-slider{	
	z-index								: 0;
	&__item{
		position						: relative;
		width							: 200px;
		height							: 299px;
		overflow						: hidden;
		text-decoration					: none;		
		display							: flex;
		flex-direction					: column;
		justify-content: flex-start;
		border: 1px solid #484646;
		background: var(--DarkGradient, linear-gradient(180deg, #343434 0%, #171717 100%));
		box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
		@include from(sm){
			width							: 240px;
		height							: 339px;
		}
	}
	
	&__title{
		/* Desktop/Heading/Heading1 */
		font-family: Inter;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.96px;
		background: var(--TextGradientDarkMode2, linear-gradient(90deg, #FF5F2D 0%, #D40000 100%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__description{
		color: var(--Text, #4A4A4A);
		/* Desktop/Body/Regular/Body MD */
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 25.2px */
	}	
	&__image-container{
		position: relative;
		display: block;
		width: 100%;
		height: 240px;
	}
	&__image{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	&__item-text-container{
		height: 98px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 15px;
		width: 100%;
		border-right: 1px solid #484646;
		border-bottom: 1px solid #484646;
		border-left: 1px solid #484646;
		background: var(--DarkGradient, linear-gradient(180deg, #343434 0%, #171717 100%));
		box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
		
	}
	&__text{
		color: var(--Light-Color, #FFF);
		text-align: center;
		/* Desktop/Heading/Heading 6 */
		font-family: Inter;
		font-size: 16px;
		line-height: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0.96px;
	}
	&__btn-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__cta{
		display: block;
		width: 100%;
		max-width: 264px;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #0A0A0A;
		background: #0A0A0A;
		color: white;
		text-decoration: none !important;
		text-transform: uppercase;
		font-size: 16px;
		
	}
}
/*here finish small-size slider module styles*/
