/*here start small-size slider module styles*/
.news-slider-module{	
	background-image: url('images/news_bg.png');
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 15px;
	padding-right: 15px;
	@include from(lg){
		padding-left: 0;
		padding-right: 0;
	}
}
.news-slider{
	width: 100%;
	max-width: 1440px;
}

.news-slider .swiper-wrapper{
	align-items: baseline;
	
}

.news-slider{	
	z-index								: 0;
	&__item{
		position						: relative;
		width							: 305px;
		height							: 497px;
		overflow						: hidden;
		text-decoration					: none;		
		display							: flex;
		flex-direction					: column;
		justify-content: flex-start;
		border: 1px solid #484646;
		background: var(--DarkGradient, linear-gradient(180deg, #343434 0%, #171717 100%));
		box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.04);
	}
	
	&__title{
		color: var(--Light-Color, #FFF);
		text-align: center;
		/* Desktop/Heading/Heading1 */
		font-family: Inter;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.96px;
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	&__text-container{
		margin-bottom: 60px;
	}
	&__description{
		color: #D2CBCB;
		text-align: center;

		/* Desktop/Body/Regular/Body MD */
		font-family: Inter;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 25.2px */
		display: block;
		width: 100%;
		max-width: 764px;
		margin: 0 auto;
	}
	&__image-container{
		// border: 1px solid white;
		height: 240px;
	}
	&__image-container{
		display: block;
		width: 100%;
		height: 300px;
		position: relative;
	}
	&__image{
		width: 100%;
		height: auto;
	}
	&__item-text-container{
		height: 195px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		padding: 0 15px;
		width: 100%;
		background-color: #1A1A1A;
		
	}
	&__item-title{
		display: block;
		color: var(--Light-Color, #FFF);
		font-family: Inter;
		font-size: 22px;
		line-height: 22px;
		font-style: normal;
		font-weight: 800;
		line-height: normal;
		letter-spacing: 1.32px;
		width: 100%;
	}
	&__item-text{
		display: block;
		text-align: left;
		overflow: hidden;
		color: var(--Dark-Text, #C4C4C4);
		text-overflow: ellipsis;
		font-family: Inter;
		font-size: 16px;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%; /* 22.4px */
		width: 100%;
	}
	&__btn-container{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}
	&__cta{
		display: block;
		width: 100%;
		max-width: 132px;
		height: 39px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #05FF00;
		text-decoration: none !important;
		text-transform: uppercase;
		color: var(--Dark-Back, #1A1A1A);
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}
}
/*here finish small-size slider module styles*/
