.text-grid{
	margin: 0;
	@include from(m){
		padding: 80px 0;
	}
	&__title{
		/* Desktop/Heading/Heading1 */
		font-family: Inter;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -0.96px;
		display: block;
		background: var(--TextGradientDarkMode2, linear-gradient(90deg, #FF5F2D 0%, #D40000 100%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include from(l){
			font-size: 48px;
		}
	}
	&__description{
		color: var(--Text, #4A4A4A);
		/* Desktop/Body/Regular/Body LG */
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 32px */
		@include from(l){
			padding: 80px 0;
			font-size: 20px;
		}
	}
	&__item{
		display: flex;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
