extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'page'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../internal-modules/top-banner
	include ../internal-modules/commission-slider
	include ../internal-modules/white-banner-left-player
	include ../internal-modules/collapsed-animated-banner
block main-footer
block scripts
