extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'page'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	//- include ../internal-modules/casino-slider
	//- include ../internal-modules/top-banner
	//- include ../internal-modules/commission-slider	
	include ../internal-modules/white-banner-right-player
	include ../internal-modules/white-banner-left-player
	//- include ../internal-modules/collapsed-animated-banner
	//- include ../internal-modules/benefits-slider
	//- include ../internal-modules/news-slider 
	//- include ../internal-modules/testimonial-slider
	//- include ../internal-modules/top-banner-short
	//- include ../internal-modules/become-banner
	//- include ../internal-modules/top-banner-info
block main-footer
block scripts
