extends ../config/template 
append config
	-currentPage		= "home"
	-siteName			= 'page'
	-content			= 'content' 
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../core-modules/core-module
	include ../internal-modules/internal-module
	include ../internal-modules/commission-slider
block main-footer
block scripts
