div(class='accordion')
	div(class='accordion-container')
		div(class='accordion-container__wrapp')
			button(class='accordion-container__btn-acc') What is Insiders Betting Digest?
			div(class='accordion-container__panel')
				p(class='accordion-container__text') Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsam voluptate, optio vitae ducimus rerum accusamus nihil suscipit delectus quo? Impedit, quam? Doloremque, numquam alias? Eius aspernatur perspiciatis temporibus tenetur.
		div(class='accordion-container__wrapp')
			button(class='accordion-container__btn-acc') What is Insiders Betting Digest? 2
			div(class='accordion-container__panel')
				p(class='accordion-container__text') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia deserunt perferendis laudantium cum molestiae sapiente cupiditate repellat earum at itaque in, libero, obcaecati officiis doloribus odio error vero nulla qui.
		div(class='accordion-container__wrapp')
			button(class='accordion-container__btn-acc') What is Insiders Betting Digest? 3
			div(class='accordion-container__panel')
				p(class='accordion-container__text') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, numquam adipisci! Quia numquam ab illo iste commodi incidunt delectus, fugiat, natus possimus voluptate culpa atque? Consectetur, totam. Molestias, minus tempora! 
