section(class='banner')
	-for(let i = 1; i<=4; i++ )
		div(class='banner__item')
			//- div(class='banner__card-container')
			//- 	div(class='banner__card-container-info')
			//- 		span(class='banner__title') Soccer
			//- 	div(class='banner__card-container-image')
			//- 		img(src="images/soccer2.png", alt="soccer", class='banner__image')

