section(class='become-banner')
	div(class='become-banner__text-container ed-container')
		span(class='become-banner__title ed-item') Become a Master Affiliate
		p(class='become-banner__description') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veritatis optio facilis dignissimos quia unde dolor ut ullam autem. Eligendi minus blanditiis ullam facilis vel quod ducimus ea neque vero.
		p(class='become-banner__description') Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque illo deleniti iure, excepturi architecto aliquid labore voluptatibus, doloribus beatae dolorem cum velit maxime similique porro. Quasi tempore earum autem vero!
		a(href="#", class='become-banner__cta') lorem
