section(class='benefits-slider-module')
	div(class='ed-container benefits-slider__text-container')
		span(class='ed-item lg-30 benefits-slider__title') Benefits
		span(class='ed-item lg-70 benefits-slider__description') With decades of industry-leading experience, our dedicated team of veterans is committed to your success as an iGaming affiliate marketer. We provide expert guidance, proven strategies, personalized support, and valuable networking opportunities, ensuring you have the tools and knowledge to thrive in your affiliate journey.
	div(class='swiper benefits-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=6; i++ )
				div(class='swiper-slide benefits-slider__item')
					div(class='benefits-slider__image-container')
						img(src="images/benefits.png", class='benefits-slider__image', alt="")
					div(class='benefits-slider__item-text-container')
						span(class='benefits-slider__text') Generous Revenue Share Plans
	div(class='benefits-slider__btn-container')
		a(href="#", class='benefits-slider__cta') EXPLORE OUR PRODUCTS
