section(class='casino-slider')
	div(class='casino-slider__container ed-container')
		div(class='ed-item m-60') 
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus harum eius et ipsum reprehenderit fuga voluptates sint, tempora, enim voluptatibus repellendus exercitationem culpa quam. Praesentium, corrupti. Nemo maxime quo ipsam?
