section(class='collapsed-animated-banner')
	div(class='collapsed-animated-banner__item active')
		div(class='collapsed-animated-banner__title') Lorem, ipsum.
	-for(let i = 1; i<=3; i++ )
		div(class='collapsed-animated-banner__item')
			div(class='collapsed-animated-banner__title-container')
				span(class='collapsed-animated-banner__title-text') Lorem, ipsum.
