section(class='commission-slider-module')
	div(class='ed-container commission-slider__text-container')
		span(class='ed-item l-40 lg-30 commission-slider__title') Commission Structure
		span(class='ed-item l-60 lg-70 commission-slider__description') Our commissions are simple and competitive. Our managers are dedicated.You generate traffic. You earn. We help you make money.
	div(class='swiper commission-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=5; i++ )
				div(class='swiper-slide commission-slider__item')
					div
						span(class='commission-slider__item-title') Silver
						span(class='commission-slider__item-players') 1-10 players
					div
						span(class='commission-slider__item-percentage') 20%
						span(class='commission-slider__item-pay') Per week 
