section(class='lottery')
	div(class='ed-container')
		div(class='ed-item lottery__item')
			span(class='lottery__title') Lottery
			p(class='lottery__description') 
				| Lottery fans can participate in their exciting Lottery games, 
				| including Pick 2, Pick 3, Pick 4, and Pick 5. With straightforward 
				| gameplay and exciting prizes, Lottery offerings are designed to bring 
				| joy and excitement to every player.
			div(class='lottery__cards')
				div(class='ed-grid sm-grid-2 m-grid-4 row-gap full')
					div(class='lottery__cards-item'): img(src="https://staging-abb8-isaacmaniel.wpcomstaging.com/wp-content/uploads/2024/06/Pick_5.png", alt="")
					div(class='lottery__cards-item'): img(src="https://staging-abb8-isaacmaniel.wpcomstaging.com/wp-content/uploads/2024/06/Pick_5.png", alt="")
					div(class='lottery__cards-item'): img(src="https://staging-abb8-isaacmaniel.wpcomstaging.com/wp-content/uploads/2024/06/Pick_5.png", alt="")
					div(class='lottery__cards-item'): img(src="https://staging-abb8-isaacmaniel.wpcomstaging.com/wp-content/uploads/2024/06/Pick_5.png", alt="")
