section(class='privacy-top-banner')
	div(class='privacy-top-banner__text-container')
		h3(class='privacy-top-banner__title') Your data, our commitment
		p(class='privacy-top-banner__description') Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, dignissimos?
	div(class='privacy-top-banner__image-container')
		img(src="https://kikeestradadev.github.io/masteraffiliates_ui/images/Column2.png", alt="")
