section(class='terms-and-conditions')
	div(class='ed-container')
		div(class='ed-item')
			span(class='terms-and-conditions__title') Introduction
			p(class='terms-and-conditions__description')
			| Welcome to Master Affiliates (“Company,” “we,” “our,” “us”)!
			| These Terms of Service (“Terms”) govern your use of our website 
			| located at www.masteraffiliates.eu (referred to as the “Service”) 
			| operated by Master Affiliates.
			span(class='terms-and-conditions__sub-title') Becoming a Master Affiliates Partner:
			img(src="", alt="")
			ul
				li loren
				li loren
				li loren
				li loren
			img(src="", alt="")


