section(class='terms-and-conditions-property')
	div(class='terms-and-conditions-property__image-container')
		img(src="images/fan1.png", alt="")
	div(class='terms-and-conditions-property__container')
		h3(class='terms-and-conditions-property__title') Intellectual Property:
		p(class='terms-and-conditions-property__descriptiom') Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, est!
