section(class='terms-and-conditions-introduction')
	div(class='terms-and-conditions-introduction__container')
		div(class='ed-container full')
			div(class='ed-item')
				span(class='terms-and-conditions-introduction__title') Introduction
				p(class='terms-and-conditions-introduction__description') 
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellendus 
					| numquam ratione suscipit, enim ipsum totam necessitatibus ipsa laboriosam quis 
					| neque, eaque eveniet nemo omnis, dolorum cupiditate minima voluptatem fuga?
				span(class='terms-and-conditions-introduction__sub-title') Becoming a Master Affiliates Partner:
				img(src="images/image9.png", alt="", class='terms-and-conditions-introduction__person-image')
				ol(class='terms-and-conditions-introduction__list-container')
					li(class='terms-and-conditions-introduction__list-item') To become an affiliate of Master Affiliates, you must register by filling out the provided online form with current, valid information, and a complete list of working domain names that you intend to use for marketing our partners and Master Affiliates. Once your application is approved, you will become a registered affiliate. Remember to keep your affiliate login information secure, as we are not responsible for any losses resulting from unauthorized access to your affiliate account.
					li(class='terms-and-conditions-introduction__list-item') By registering as an affiliate, either for yourself or on behalf of an authorized entity, you agree to all the terms and conditions stated in this agreement.
					li(class='terms-and-conditions-introduction__list-item') All affiliates are considered independent contractors. This agreement does not create any joint venture, agency, franchise, sales representative, or employment relationship between the parties.
					li(class='terms-and-conditions-introduction__list-item') The Affiliate program reserves the right to approve, reject, or close an affiliate account at any time and at our sole discretion if your website is unsuitable for Master Affiliates due to reasons such as stolen content, intellectual property infringement, sexually explicit, hate, violent, offensive, or minors-targeted content. Other reasons include engaging in illegal activities like SPAM, spyware, adware, or scraping, as well as having irrelevant or incomplete websites. It is prohibited to use our partners’ brand names or similarities in your domain name.
	