section(class='terms-and-conditions-marketing')
	div(class='terms-and-conditions-marketing__image-container')
		img(src="images/players1.png", alt="", class='terms-and-conditions-marketing__players-image')
	div(class='ed-container')
		div(class='ed-item')
			span(class='terms-and-conditions-marketing__title') Marketing
			ol(class='terms-and-conditions-marketing__list-container')
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
				li(class='terms-and-conditions-marketing__list-item') Lorem ipsum dolor sit amet.
