section(class='testimonial-slider-container')
	div(class='swiper testimonial-slider')
		div(class='swiper-wrapper')
			-for(let i = 1; i<=3; i++ )
				div(class='swiper-slide testimonial-slider__item')
					div(class='testimonial-slider__container') 
						span(class='testimonial-slider__top-label') testimonials
						span(class='testimonial-slider__title') From our affiliates
						span(class='testimonial-slider__sub-title') Here’s what other affiliates had to say about Master Affiliates.
						span(class='testimonial-slider__description') “It is without a doubt that the affiliate managers are top-notch professionals in their field.”
						div(class='testimonial-slider__logo-container') 
							img(src="images/test_brand.png", alt="", class='testimonial-slider__logo')
							span(class='testimonial-slider__logo-title') Sports Betting Ace
							a(class='testimonial-slider__logo-anchor') www.sportsbettingace.com
		div(class='testimonial-slider__buttons')
			div(class='testimonial-slider__prev swiper-button-prev') prev
			div(class='testimonial-slider__next swiper-button-next') next
