section(class='text-grid')
	div(class='ed-container')
		div(class='ed-item text-grid__item l-50')
			span(class='text-grid__title') BetAnySports.eu
		div(class='ed-item text-grid__item l-50')
			p(class='text-grid__description') 
				| BetAnySports, a premier sportsbook, casino, lottery, and racebook platform, 
				| that offers exceptional gaming experiences. As an affiliate, you’ll promote a 
				| trusted and reliable brand, providing a secure environment, diverse betting options, 
				| and prompt payouts. Earn lucrative commissions with a dedicated support team to maximize 
				| your revenue potential. Captivate a wide audience of sports enthusiasts and casino 
				| players and tailor your marketing strategies for affiliate success.
		div(class='ed-item text-grid__item')
			img(src="images/iMac_Front.png", alt="")
