section(class='top-banner')
	section(class='top-banner__container')
		div(class='top-banner__item')
			div(class='top-banner__text-container')
				div
					span(class='top-banner__title') JOIN TODAY
					span(class='top-banner__label') and earn up to
					span(class='top-banner__percentage') 35%
				div(class='top-banner__btn-container')
					a(href="#", class='top-banner__see') See plans
					a(href="#", class='top-banner__join') JOIN NOW
		div(class='top-banner__item')
			img(src="images/player.png", alt="player", class='top-banner__player')
