section(class='top-banner-info', style='background-image: url("images/bg_banner_info.png");')
	div(class='top-banner-info__text-container ed-container')
		div(class='top-banner-info__item ed-item l-50 lg-50')
			span(class='top-banner-info__title-1') Our 
				span(class='top-banner-info__title-2') Our Partners 
				span(class='top-banner-info__title-3') BetAnySports &amp; Lucky99
		div(class='top-banner-info__item ed-item l-50 lg-50')
			p(class='top-banner-info__description') Master Affiliates is excited to introduce you to the BetAnySports and Lucky99 Sportsbook, Casino, Lottery and Horse Racing partner programs, providing you with an opportunity to kickstart your promotional activities.
			p(class='top-banner-info__description') By joining our affiliate program, you gain access to a vast range of competitive benefits. Enjoy attractive commission rates, dedicated marketing support, and the opportunity to reach targeted audiences. Whether you cater to sports enthusiasts, casino aficionados, or specific audiences, our program provides the tools and resources to maximize your promotional efforts.
