section(class='top-banner-short')
	div(class='top-banner-short__text-container ed-container')
		span(class='top-banner-short__title ed-item') Lorem ipsum dolor sit amet.
		span(class='top-banner-short__sub-title ed-item') Lorem ipsum dolor sit amet.
