section(class='white-banner-left-player')
	div(class='ed-container')
		div(class='ed-item l-40 lp white-banner-left-player__item'): img(src="images/player1.png", alt="")
		div(class='ed-item l-60 white-banner-left-player__text-container')
			div(class='white-banner-left-player__text-content')
				span(class='white-banner-left-player__label-1') Lorem ipsum dolor sit amet.
				span(class='white-banner-left-player__label-2') Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perspiciatis!
				p(class='white-banner-left-player__label-3') Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nostrum dignissimos eligendi minus ratione autem ut culpa tenetur ipsam ducimus.
				p(class='white-banner-left-player__label-3') Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam delectus harum modi exercitationem itaque, quo sequi pariatur porro dolore? Inventore.
