section(class='white-banner-right-player')
	div(class='ed-container')
		div(class='ed-item l-50 lg-40 lp white-banner-right-player__item l-order-1')
			img(src="images/player1_inverse.png", alt="", class='white-banner-right-player__player-dk')
			img(src="images/player1_inverse_mobile.png", alt="", class='white-banner-right-player__player-mb')
		div(class='ed-item l-50 lg-60 white-banner-right-player__text-container')
			div(class='white-banner-right-player__text-content')
				span(class='white-banner-right-player__label-1') Lorem ipsum dolor sit amet.
				span(class='white-banner-right-player__label-2') Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, perspiciatis!
				p(class='white-banner-right-player__label-3') Lorem ipsum dolor sit amet consectetur adipisicing elit. Et temporibus cupiditate consectetur similique. Aliquid eligendi commodi omnis similique consequuntur veniam, nesciunt ex alias nisi. Maxime ut voluptatum error dolorum consequatur.
				a(href="#", class='white-banner-right-player__cta') lorem 
