//layout
:root {
	--header-height			: 121px;
	@include from(l) {
		--header-height		: 121px;
	}
}
*,
*::before,
*::after {
	box-sizing				: border-box;
}
::selection {
	color					: white;
	background				: #00CBFF;
}
body {
	display					: flex;
	flex-direction			: column;
}
.main-wrapp{
	width: 100%;
	margin: 0 auto;
}
.main-header{}
.main-container{}
.main-footer {
	position: relative;
	@import "../core-modules/main-footer";
}
