.tp{
	padding-top: 0 !important;
}
.rp{
	padding-right: 0 !important;
}
.bp{
	padding-bottom: 0 !important;
}
.lp{
	padding-left: 0 !important;
}
.np{
	padding: 0 !important;
}

.lrp{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
a{
	// line-height: 0;
}
